body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#tablero {
    background-image: url("/img/rocketbg.png");
    background-size: 1200px 600px;
    background-repeat: no-repeat;
    background-position: center;
}
