body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#tablero {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/rocketbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
